body {
    background-color: #141530;
    background-image: url("pattern-lines-hero.svg");
    background-position: center;
}

.t {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width: 800px;
    height: 900px;
    border: 1px solid black;
    margin: 200px auto;
    position: relative;
    background-image: url("c4.jpg");
}
.s {
	margin: 0 0 5% 0;
    width: auto;
    height: auto;
    background-image: url("c1.png");
    margin-bottom: 10px;
	margin-top: 10px;
}

.c {
	margin: 0 0 5% 0;
    width: auto;
    height: auto;
    background-image: url("c2.png");
    margin-bottom: 10px;
	margin-top: 10px;
}

.v {
	margin: 0 0 5% 0;
    width: auto;
    height: auto;
    background-image: url("c3.png");
    margin-bottom: 10px;
    margin-top: 10px;
}
